.heading{
    text-align: center;
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.paragraph{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}